* {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}
#themeSwitcher {
    float: right;
    width: 24px;
    height: 24px;
    opacity: 5%;
    vertical-align: bottom;
}
body {
    background-color: rgb(0, 0, 0);
    margin: auto;
}
#main {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    height: auto;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(63, 63, 63);
}
#info {
    background-color: rgb(13, 36, 97);
    border: 1px solid rgb(45, 99, 216);
    font-size: small;
    text-align: left;
    display: block;
    padding: 20px;
}
#commandPreview {
    font-family: "Lucida console";
    background-color: rgb(3, 3, 3);
    white-space: pre-wrap;
    resize: none;
    outline: none;
    border: 1px solid rgb(63, 63, 63);
    padding: 20px;
    margin-bottom: 10px;
}
.spacer {
    margin: 20px;
    padding: 0;
}
.expander {
    border: 0;
    font-size: medium;
    font-weight: bold;
}
.expander:hover {
    background-color: transparent;
    color: white;
}
.heading {
    vertical-align: middle;
    height: 30px;
    text-align: center;
}
h2 {
    text-align: center;
    margin-top: 0;
    width: auto;
}
h1, h3, h4 {
    margin-top: 0;
    text-align: center;
    width: auto;
    display: inline-block;
}
ul {
    list-style-position: inside;
    padding: 10px;
    margin: 0;
}
li {
    padding: 3px;
    margin: 0;
}
button {
    background-color: transparent;
    border: 1px solid;
    margin: 3px;
    vertical-align: middle;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}
button:disabled {
    color : rgb(0, 0, 0);
    border: 0;
    background-color: rgb(53, 53, 53);
}
button:hover {
    background-color: #ffffff;
    color: black;
  }
button:active {
    transform: translateY(1px);
}
select {
    background-color: rgb(24, 24, 24);
    overflow: hidden;
    width: auto;
    padding: 5px;
    vertical-align: middle;
    margin: 5px;
}
input {
    background-color: rgb(24, 24, 24);
    outline: none;
    border: 1px solid rgb(65, 65, 65);
    width: 50px;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color:rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    vertical-align: middle;
    margin-left: 5px;
}
input[type="text"] {
    width: 50%;
}
input[type="radio"] {
    width: auto;
    border: 1px solid rgb(63, 63, 63);
    vertical-align: middle;
    text-align: right;
    height: auto;
}
input:focus {
    outline: none;
}
#configuration {
    border: 1px solid rgb(65, 65, 65);
    padding: 20px;
    margin-top: 20px;
}
#outputBox {
    font-family: "Lucida console";
    color: orange;
    text-align: left;
    white-space: pre-wrap;
    border: 1px solid rgb(63, 63, 63);
    width: auto;
    background-color: black;
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    height: auto;
    word-wrap: break-word;
    font-size: small;
}
table {
    width: 100%;
    text-align: left;
    background-color: rgb(24, 24, 24);
    font-size: small;
    margin-bottom: 10px;
}
table, th, td {
    border: 1px solid rgb(65, 65, 65);
    border-collapse: collapse;
    padding: 5px;
    border-radius: 0;
    cursor: default;
}
th {
    text-align: center;
}
td {
    width: auto;
}
#productSelector, #defaultsSelector {
    margin-top: 20px;
    margin-bottom: 20px;
}
.separator {
    border-left: 3px solid rgb(65, 65, 65);
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
label {
    display: inline-block;
    width: auto;
    text-align: right;
    font-size: small;
    vertical-align: middle;
    margin-bottom: 0;
}
.labels {
    width: 300px;
}
#optional {
    margin: 0;
    padding: 0;
}
#footer {
    color:rgb(63, 63, 63);
    font-size: small;
    text-align: center;
    margin-bottom: 10px;
}
#footer a {
    color: rgb(63, 63, 63);
}
#footer a:hover {
    color: rgb(121, 116, 116);
}
.component {
    width: auto;
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(65, 65, 65);
    padding: 10px;
    background-color: rgb(50, 50, 50);
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: left;
}
#filters {
    margin-top: 0;
    text-align: center;
}
.layer1 {
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(30, 30, 30);
    padding: 20px;
}
.layer2 {
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(40, 40, 40);
    padding: 20px;
}
#enablePrettyBox {
    display: inline-block;
    width: auto;
    margin: 0;
    margin-left: 5px;
}
.controls {
    text-align: right;
    width: auto;
    height: auto;
    margin-top: 10px;
}
#spacer1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#spacer2 {
    margin-top: 20px;
}
#repository, #global {
    margin-top: 20px;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.removeIcon {
    margin: 0;
    padding: 0;
    text-align: center;
}
colorParameter {
    color: rgb(67, 166, 224);
    font-family: "Lucida console";
    font-size: small;
}
colorArgument {
    color: rgb(224, 120, 102);
    font-family: "Lucida console";
    font-size: small;
}
colorStart {
    color: rgb(199, 90, 153);
    font-family: "Lucida console";
    font-size: small;
}
colorWarn {
    color: rgb(194, 71, 71);
    font-family: "Lucida console";
    font-size: small;
}
a {
    text-decoration: none;
}