:root {
    color-scheme: dark;
    width: 100%;
}
* {
    color: rgb(255, 255, 255);
    font-family: "Segoe UI",Helvetica,Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
}
html, body {
    height: 100%;
    margin: auto;
    width: 100%;
    padding: 0;
    background-color: black;
}
#menuItem1, #menuItem2 {
    padding: 3px;
}
.row {
    height: 100%;
}
#menuBar {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: transparent;
    display: inline-block;
}
#header {
    text-align: center;
    background-color: transparent;
    height: auto;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    width: 100%;
}
#headline {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    line-height: auto;
    padding-top: 5px;
}
#main {
    height: auto;
    background-color: rgb(13, 13, 13);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 900px;
    border: 1px solid rgb(40,40,40);
    padding-top: 10px;
}
h2, h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}
button {
    background-color: transparent;
    border: 1px solid rgb(230, 230, 230);
    vertical-align: middle;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: small;
}
button:disabled {
    color : rgb(87, 87, 87);
    border: 1px solid;
}
button:enabled:hover {
    background-color: #ffffff;
    color: black;
}
button:active {
    transform: translateY(1px);
}
select, input {
    background-color: black;
    border-radius: 5px;
    font-size: small;
}
select {
    width: auto;
    padding: 5px;
    vertical-align: middle;
    margin: 5px;
    height: auto;
    border: 1px solid rgb(40,40,40);
}
select option:checked {
    color: rgb(255, 255, 255);
}
input {
    border: 1px solid rgb(40,40,40);
    outline: none;
    width: 50%;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-radius: 5px;
}
input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 2px;
}
input[type="radio"] {
    width: auto;
    vertical-align: middle;
    text-align: right;
    height: auto;
    margin: 2px;
}
input:focus {
    outline: none;
}
table {
    width: 100%;
    text-align: left;
    font-size: small;
    background-color: black;
}
table, th, td {
    border-collapse: collapse;
    padding: 5px;
    border-radius: 0;
    cursor: default;
    border: 1px solid rgb(40,40,40);
}
th {
    text-align: center;
}
td {
    overflow: auto;
    max-width: 100px;
}
label {
    display: inline-block;
    width: auto;
    text-align: right;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: small;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: grey;
}
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.separator {
    border-left: 3px solid rgb(40,40,40);
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.labels {
    width: 230px;
    text-align: right;
}
.component {
    width: auto;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    height: auto;
    vertical-align: middle;
    text-align: left;
    border: 1px solid rgb(40,40,40);
    border-radius: 5px;
}
.layer2 {
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(16,16,16);
    border: 1px solid rgb(40,40,40);
}
.controls {
    text-align: right;
    width: auto;
    height: auto;
    margin: 10px;
    margin-right: 0;
    margin-bottom: 0;
}
#configureLink {
    font-size: small;
}
.control {
    width: auto;
    display: inline-block;
    margin: 3px;
}
#mirrorOnlyLevelUpdates, #trustDownloadedFilesInRepositoryTemp {
    margin: 5px;
}
#outputBox {
    background-color: rgb(3, 3, 3);
    white-space: pre-wrap;
    resize: none;
    outline: none;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(40,40,40);
    border-radius: 5px;
    font-size: small;
}
#outputBox2 {
    color: orange;
    text-align: left;
    white-space: pre-wrap;
    width: auto;
    background-color: black;
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    height: auto;
    word-wrap: break-word;
    border: 1px solid rgb(40,40,40);
    border-radius: 5px;
    font-size: small;
}
#repository, #global {
    margin-top: 20px;
}
#optional {
    margin: 0;
    padding: 0;
}
#filters {
    margin: 0;
    text-align: center;
}
#enablePrettyBox {
    display: inline-block;
    width: auto;
    margin: 0;
    margin-left: 5px;
}
#spacer1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#hidden {
    visibility: hidden;
}
#bigger {
    line-height: 36px;
    vertical-align: middle;
}
.removeIcon {
    margin: 0;
    padding: 0;
    text-align: center;
}
colorParameter {color: rgb(67, 166, 224);}
colorArgument {color: rgb(224, 120, 102);}
colorPassword {color: rgb(180, 147, 57);}
colorStart {color: rgb(199, 90, 153);}
colorWarn {color: rgb(70, 70, 70);}